@import "tailwindcss";

@theme {
  --font-family-sans: "Roboto",Montserrat,"Inter", sans-serif;
  --color-primary: #FF5C00;
  --color-secondary: #F2F4F7;
  --text-secondary: #6b7280;
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.5);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.5);
}

@layer base {
  html {
    font-family: var(--font-family-sans);
  }
}